body {
    margin: 0;
    overflow: hidden;
    background: #111;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    display: block;
}

#hud {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #00FF00;
    font-size: 24px;
    pointer-events: none;
    text-shadow: 2px 2px 4px #000;
    z-index: 1000;
}

.tp-dfwv {
    bottom: 20px !important;
    top: auto !important;
    z-index: 2000;
}

#nnCanvas {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 360px;
    height: 240px;
    background: #050505;
    border: 1px solid #333;
    z-index: 1000;
}

#minimap {
    position: fixed;
    left: 10px;
    top: 50%;
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.5);
    border: 4px solid red;
    /* DEBUG VISIBILITY */
    z-index: 1000;
}