body {
    margin: 0;
    overflow: hidden;
    background: #111;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    display: block;
}

#hud {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #00FF00;
    font-size: 24px;
    pointer-events: none;
    text-shadow: 2px 2px 4px #000;
}

.tp-dfwv {
    bottom: 20px !important;
    top: auto !important;
}